{% extends 'base.html' %}

{% block title %} Biodiversity {% endblock %}

{% block content %}

<html>
<head>
    <title>Biodiversity</title>
    {% load static %}
</head>
<body>
    <!--  Extra info section  -->
    <h2 class="bio-info-heading"> Source of Food </h2>
    <div class="card-deck bio-info">
        <div class="card">
            <img class="card-img-top bio-info-img" src="{% static 'images/sunflowers.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Sunflowers (Helianthus spp.) </h5>
                <p class="card-text"> The seeds produced by sunflowers are an important food source for a wide range of wildlife, including birds (e.g., finches, chickadees, and doves) and small mammals (e.g., squirrels and mice). The presence of sunflowers can therefore support higher levels of biodiversity in terms of both plant and animal species.The structure of sunflower plants can offer habitat and shelter for various insects and small animals. </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top bio-info-img" src="{% static 'images/goldenrod.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Goldenrod (Solidago) </h5>
                <p class="card-text"> Goldenrods are a vital source of nectar for pollinators, especially in late summer and fall when many other plants have finished blooming. They attract bees, butterflies, and other insects. Goldenrods are host plants for several species of caterpillars, which are crucial for the diet of many bird species. The presence of goldenrods can increase the diversity and abundance of insect prey available for birds, especially during migration periods when energy demands are high.</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top bio-info-img" src="{% static 'images/hawthorns.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Hawthorn (Crataegus) </h5>
                <p class="card-text"> The berries produced by hawthorns are an essential food source for many bird species, especially during late fall and winter when other food sources are scarce. Mammals, including small rodents and even larger animals like foxes, also consume the fruit, aiding in seed dispersal. Hawthorns can form dense thickets that provide shelter and nesting sites for birds and small mammals. These thickets can be crucial for the protection of some species from predators and harsh weather conditions. </p>
            </div>
        </div>
    </div>
    <h2 class="bio-info-heading bio-info-extra"> Attracting Birds </h2>
    <div class="card-deck bio-info">
        <div class="card">
            <img class="card-img-top bio-info-img" src="{% static 'images/honeysuckle.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Honeysuckle (Lonicera spp.) </h5>
                <p class="card-text"> The berries produced by honeysuckles serve as a food source for various bird species, as well as some small mammals. While they provide essential nutrients, especially in late summer and fall, it's worth noting that the berries of some honeysuckle species can be toxic to humans. Dense thickets formed by some shrubby honeysuckles provide shelter and nesting sites for birds and small mammals. The twining vines of climbing honeysuckles can also offer structural support for nesting. </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top bio-info-img" src="{% static 'images/buddlejas.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Buddlejas/Butterfly bushes </h5>
                <p class="card-text"> Beyond pollinators, the flowers and foliage of Buddleja species can provide habitat and food sources for a variety of other wildlife, including birds and small mammals in some regions. The dense growth of some Buddleja species can offer shelter and nesting sites. The wide range of species within the Buddleja genus contributes to genetic diversity, which is crucial for adaptability and resilience of plant populations to changing environments and threats such as diseases and pests. </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top bio-info-img" src="{% static 'images/sedges.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Sedges (Carex) </h5>
                <p class="card-text"> While sedges are generally wind-pollinated, their presence in an ecosystem can support a variety of pollinators indirectly. By contributing to a diverse plant community, sedges help sustain populations of insects, including some pollinators that rely on the broader floral diversity within sedge-inhabited environments. Sedges are a food source for a range of wildlife. Their seeds are consumed by birds and small mammals, while the plants themselves can be foraged by larger herbivores. The dense sedge beds also provide hiding and nesting spots, crucial for the survival of various species. </p>
            </div>
        </div>
    </div>
    <h2 class="bio-info-heading bio-info-extra"> Soil Health and Fertility </h2>
    <div class="card-deck bio-info">
        <div class="card">
            <img class="card-img-top bio-info-img" src="{% static 'images/clover.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Clovers </h5>
                <p class="card-text"> Clovers have a symbiotic relationship with nitrogen-fixing bacteria in their root nodules. This process converts atmospheric nitrogen into forms that plants can use, enhancing soil fertility. This trait is particularly beneficial in nutrient-poor soils and can reduce the need for synthetic fertilizers in agriculture and gardening. The growth habit of clovers, which includes deep rooting systems, helps to improve soil structure and prevent erosion. Their roots can penetrate compacted soil, increasing aeration and water infiltration. </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top bio-info-img" src="{% static 'images/dandelion.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Dandelions </h5>
                <p class="card-text"> Dandelions have deep taproots that can penetrate compacted soil, breaking it up and improving soil aeration and water infiltration. This root system can also help to bring nutrients up from deeper soil layers to the surface, making them available to other plants. By accumulating nutrients, especially potassium and calcium, and bringing them to the surface, dandelions can enhance the fertility of the topsoil where many plants have their root systems. Their presence can reduce the need for lawn chemicals, which can be harmful to the environment and biodiversity. </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top bio-info-img" src="{% static 'images/rye.jpg' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Rye </h5>
                <p class="card-text">  Rye is a grass grown as a grain, a cover crop, and a forage crop. Rye’s deep root system helps to improve soil structure by enhancing water infiltration. This reduces runoff and helps to prevent soil erosion, a critical factor in maintaining healthy ecosystems. When used as a green manure, rye contributes significant organic matter to the soil upon decomposition. This organic matter improves soil health by increasing water retention, nutrient availability, and supporting soil microbial life. </p>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}
