<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BeeGPT</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}" >
</head>
<body>
    <!-- Navbar Section -->
    <nav class="navbar">
        <div class="navbar-container">
            <a href="#home" id="navbar-title">BeeGPT</a>
            <ul class="navbar-menu">
                <li class="navbar-item">
                    <a href="#upload" class="navbar-links" id="home-page">Home</a>
                </li>
                <li class="navbar-item">
                    <a href="#tutorial" class="navbar-links" id="tutorial-page">Tutorial</a>
                </li>
                <li class="navbar-item">
                    <a href="#biodiversity" class="navbar-links" id="biodiversity-page">Biodiversity</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Intro Section -->
    <div class="image-container">
        <img src="{% static 'images/image1.webp' %}" alt="image">
        <div class="overlay-text">IDENTIFY PLANTS IN SECONDS!</div>
    </div>
    <!-- Upload an image Section -->
    <div class="main" id="home">
        <div class="main-container">
            <h1 class="main-heading"> Try BeeGPT Now! </h1>
            <p class="main-description"> Upload an image </p>
            <form class="main-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="upload-btn" type="submit">Upload</button>
            </form>
        </div>
    </div>
</body>
</html>
