{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}
<!-- Content specific to biodiversity -->
<html>
<head>
    <title>BeeGPT</title>
    {% load static %}
</head>
<body>
    <!-- Intro Section -->
    <div class="image-container">
        <img src="{% static 'images/image1.webp' %}" alt="image">
        <div class="image-container-content">
            <div class="overlay-text">Identify plants in seconds!</div>
            <a class="image-container-btn" href="#main-section">Try Now!</a>
        </div>
    </div>
    <!-- Upload an image Section -->
    <div class="main" id="main-section">
        <div class="main-container">
            <h1 class="main-heading"> Try BeeGPT Now! </h1>
            <p class="main-description"> Upload an image </p>
            <form class="main-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="upload-btn" type="submit">Upload</button>
            </form>
        </div>
    </div>
    <!--  Extra info section  -->
    <div class="card-deck extra-info">
        <div class="card">
            <img class="card-img-top extra-info-img" src="{% static 'images/clock.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Identify Plants in Seconds </h5>
                <p class="card-text"> Simply upload a photo and discover the wonders of the plant world instantly. Discover the name and retrieve the biodiversity information of each species. Your journey into the world of plants begins here, in just a matter of seconds. </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top extra-info-img" src="{% static 'images/ai.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Leveraging AI </h5>
                <p class="card-text"> BeeGPT uses the power of artificial intelligence to transform the way we interact with nature. This innovative approach bridges the gap between technology and the natural world, making knowledge easily accessible to everyone. </p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top extra-info-img" src="{% static 'images/biodiversity.png' %}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title"> Biodiversity </h5>
                <p class="card-text"> Each plant identification also presents information about the plants biodiversity. Highlighting their unique roles and the interconnections that sustain life on earth, our aim is to show the deeper connection with the natural world around us. </p>
            </div>
        </div>
    </div>
</body>
</html>

{% endblock %}
