{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block content %}

<html>
<head>
    <title> Tutorial </title>
    {% load static %}
</head>
<body>
    <div class="tutorial-main" id="main-section">
        <div class="tutorial-main-container">
            <h1 class="tutorial-heading"> BeeGPT Tutorial </h1>
            <p class="tutorial-description"> Here's a basic tutorial on how to Identify a Plant </p>
        </div>
    </div>
    <section class="tutorial-section">
        <div class="tutorial-container grid">
            <div>
                <h1 class="step"> Step 1: Navigate to the right section on the home page </h1>
                <p> The "Identify a Plant" feature can be found on the home page. Simply scroll down and locate the "Try BeeGPT Now!" section. </p>
            </div>
            <img src="{% static 'images/step1.png' %}" alt="">
        </div>
        <div class="tutorial-container grid">
            <div>
                <h1 class="step"> Step 2: Click on the "Choose File" Button </h1>
                <p> Click on the "Choose File" button to select an image. </p>
            </div>
            <img src="{% static 'images/step2.png' %}" alt="">
        </div>
        <div class="tutorial-container grid">
            <div>
                <h1 class="step"> Step 3: Select your plant image </h1>
                <p> From the pop-up dialog, select your plant image that you would like to identify. </p>
            </div>
            <img src="{% static 'images/step3.png' %}" alt="">
        </div>
        <div class="tutorial-container grid">
            <div>
                <h1 class="step"> Step 4: Click on the "Upload" button </h1>
                <p> Click on the "Upload" button to learn about the plant form the image you have selected. It may take up to 10 seconds to process the image and provide information about its biodiversity. </p>
            </div>
            <img src="{% static 'images/step4.png' %}" alt="">
        </div>
    </section>

</body>
</html>
{% endblock %}
