* {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

body {
  padding-top: 70px; /* Space for the navbar */
}

.navbar {
  background: #FFFFFF;
  height: 70px;
  display: flex;
  font-size: 1rem;
  top: 0;
  position: fixed; /* Fix the navbar at the top of the page  */
  width: 100%; /* Ensure it spans the full width */
  z-index: 1000; /* Ensure it stays on top of other content */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; /* 0 = top and bottom, auto = left and right*/
  padding: 0 35px;
}

/* The color logo at the top */
#navbar-title {
  background-color: #456146;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-bottom: 15px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-item {
  height: 80px;
}

.navbar-links {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none; /* Remove the underline */
  height: 100%;
}

/* For when the pointer is on the navbar */
.navbar-links:hover {
  color: #80e08d;
  text-decoration: none;
  transition: all 0.3s ease;/* Wait a bit and then change the color */
  /*This transition is also then needed in the navbar_links to make it work*/
}

.image-container {
  width: 100%;
  height: 550px;
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
}

.image-container-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  margin-top: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  padding: 0px 0px;
  font-family: Garamond, serif;
  text-align: center;
  font-size: 3rem;
  /* background-color: #000000; */ /* text background removed for now*/
}

.image-container-btn{
    color: #FFFFFF;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #185c33;
    padding: 12px 30px;
    position: absolute;
    margin-bottom: 250px;
}

.image-container-btn:hover {
  color: #FFFFFF;
  text-decoration: none;
}

/*Upload an image Section*/
.main {
  background: #FFFFFF;
  padding: 70px 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  height: 80%;
  text-align: center;
}

.main-heading {
  font-size: 70px;
  margin-bottom: 24px;
  color: #90d1af;
}

.main-description {
  font-size: 45px;
  background: #124028;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main-form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-form input[type="text"],
.main-form input[type="file"],
.main-form textarea {
  width: calc(100% - 20px); /* Adjusts based on padding */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.upload-btn {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.upload-btn:hover {
  background-color: #007ba7;
}

.extra-info{
    margin: 60px 20px;
    text-align: center;
}

.extra-info-img{
    width: 40%;
    height: 40%;
    margin: 10px 0px 20px 110px;
}

.footer {
  background-color: #17181b;
  display: flex;
  height: 7rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 90%;
   /* Creates space between the paragraph and the social-media icons */
  justify-content: space-between;
  display: flex;
}

.footer-description {
  font-family: "Baloo Da 2", serif;
  font-size: 1.6rem;
  color: #a7a7a7;
}

.icons a {
  margin: 0 2rem;
  margin-left: 20px;
}

.icons i {
  font-size: 2rem;
  color: #a7a7a7;
}

.bio-info-img{
    width: 100%;
    min-height: 400px;
}

.identification-result-container {
    max-width: 600px;
    margin: 30px auto;
    background-color: #f9f9f9;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 8px;
}

.plant-species-container, .plant-info-container {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.2);
}

.plant-species-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.plant-species-container h3, .model-species-heading {
    flex-basis: 100%; /* Headings takes full width */
    color: #333;
}

.model-species-heading {
    margin-top: 30px;
}

.plant-species {
    font-size: 1.5rem;
    color: #4CAF50;
    font-weight: bold;
}

.plant-info-container {
    margin-top: 35px;
}

.plant-info-container p {
    margin-top: 10px;
    text-align: justify;
    line-height: 1.6;
}

.uploaded-img {
    max-width: 95%;
    height: auto;
    margin-top: 30px;
    border-radius: 4px;
}

.tutorial-main {
  background: #FFFFFF;
  padding: 90px 0;
}

.tutorial-main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  height: 80%;
  text-align: center;
}

.tutorial-heading {
  font-size: 120px;
  margin-bottom: 24px;
  color: #264034;
}

.tutorial-description {
  font-size: 45px;
  color: #357843;
  background-size: 100%;
}

.tutorial-section {
    margin: 70px 0px 100px 0px;
}

.tutorial-section img {
  width: 400px;
  justify-self: center;
}

.tutorial-container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 60px;
  margin-bottom: 40px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.step {
  font-size: 2rem;
  margin-bottom: 30px;
}

@media screen and (max-width: 960px) {
    body {
      max-width: 100%;
      overflow-x: hidden;
    }

  .navbar{
    padding: 0;
    margin: 0;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-right: 100px;
  }

  .navbar-menu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px; /*When the menu is pressed, it brings it all the way down*/
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbar-menu.active {
    background: #FFFFFF;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 99;
    height: 45vh;
    font-size: 1.4rem;
  }

  #navbar-title {
    padding-left: 25px;
  }

  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #000000;
  }

  .navbar-item {
    width: 100%;
  }

  .navbar-links {
    text-align: center;
    width: 100%;
    display: table;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbar-toggle .bar {
    display: block;
    cursor: pointer;
  }
  /*The menu button changing shape*/
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .image-container-btn {
    margin-bottom: 200px;
  }

  .extra-info{
    margin: 60px 0px;
    text-align: center;
  }

  .extra-info-img{
    width: 40%;
    height: 40%;
    max-height: 75px;
    margin: 15px 0px 20px 60px;
    item-align:center;
  }

  .bio-info-img {
    object-fit: cover; /* Maintain image ratio */
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
  }

  /* This puts the icons at the top */
  .footer-description {
    /* We give the paragraph an order of 1, so it can't be at the top */
    /* The order starts from 0, so the icons will then have a order of 0
    And they'll be at the top */
    order: 1;
    margin-top: 1rem;
  }

  /* Increase its height */
  .footer {
    height: 11rem;
  }

  .tutorial-main {
    padding-bottom: 45px;
  }

  .tutorial-heading {
    font-size: 60px;
    margin-bottom: 24px;
    color: #264034;
  }

  .tutorial-description {
    font-size: 35px;
    color: #357843;
    background-size: 100%;
    margin: 0px 15px;
  }

  .tutorial-section{
    text-align: center;
  }

  .tutorial-container {
    margin-bottom: 70px;
  }

  .tutorial-section img {
    /* Moves the image to the center */
    justify-self: center;
    width: 300px;
  }

  .grid{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .identification-result-container {
    max-width: 700px;
  }

}

@media screen and (max-width: 600px) {
  .image-container-btn {
    margin-bottom: 100px;
  }

  .extra-info{
    margin: 60px 20px;
    text-align: center;
  }

  .extra-info-img{
    width: 40%;
    height: 40%;
    margin: 10px 0px 20px 110px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
  }

  /* This puts the icons at the top */
  .footer-description {
    /* We give the paragraph an order of 1, so it can't be at the top */
    /* The order starts from 0, so the icons will then have a order of 0
    And they'll be at the top */
    order: 1;
    margin-top: 1rem;
  }

    /* Increase its height */
  .footer {
    height: 14rem;
  }
}