* {
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  background: #FFFFFF;
  height: 70px;
  display: flex;
  font-size: 1rem;
  top: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; /* 0 = top and bottom, auto = left and right*/
  padding: 0 35px;
}

/*The color logo at the top*/
#navbar-title {
  background-color: #456146;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar-item {
  height: 80px;
}

.navbar-links {
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none; /* Remove the underline */
  height: 100%;
}

/* For when the pointer is on the navbar */
.navbar-links:hover {
  color: #80e08d;
  text-decoration: none;
  transition: all 0.3s ease;/* Wait a bit and then change the color */
  /*This transition is also then needed in the navbar_links to make it work*/
}

.image-container {
  width: 100%;
  height: 550px;
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  width: 100%;
  height: 100%;
}

.image-container-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  margin-top: 65px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000000;
  padding: 0px 0px;
  font-family: Garamond, serif;
  text-align: center;
  font-size: 3rem;
  /* background-color: #000000; */ /* text background removed for now*/
}

.image-container-btn{
    color: #FFFFFF;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: #185c33;
    padding: 12px 30px;
    position: absolute;
    margin-bottom: 250px;
}

.image-container-btn:hover {
  color: #FFFFFF;
  text-decoration: none;
}

/*Upload an image Section*/
.main {
  background: #FFFFFF;
  padding: 70px 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  height: 80%;
  text-align: center;
}

.main-heading {
  font-size: 70px;
  margin-bottom: 24px;
  color: #90d1af;
}

.main-description {
  font-size: 45px;
  background: #124028;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.main-form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-form input[type="text"],
.main-form input[type="file"],
.main-form textarea {
  width: calc(100% - 20px); /* Adjusts based on padding */
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.main-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.upload-btn {
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.upload-btn:hover {
  background-color: #007ba7;
}

.extra-info{
    margin: 60px 20px;
    text-align: center;
}

.extra-info-img{
    width: 40%;
    height: 40%;
    margin: 10px 0px 20px 110px;
}

.footer {
  background-color: #17181b;
  display: flex;
  height: 7rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 90%;
   /* Creates space between the paragraph and the social-media icons */
  justify-content: space-between;
  display: flex;
}

.footer-description {
  font-family: "Baloo Da 2", serif;
  font-size: 1.6rem;
  color: #a7a7a7;
}

.icons a {
  margin: 0 2rem;
  margin-left: 20px;
}

.icons i {
  font-size: 2rem;
  color: #a7a7a7;
}

.bio-info-img{
    width: 100%;
    min-height: 400px;
}



