<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}BeeGPT{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}" >
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <!-- For google fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&family=Josefin+Slab:ital,wght@0,400;0,600;1,300;1,400;1,600&family=Muli:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <header>
        <!-- Navbar Section -->
      <nav class="navbar">
        <div class="navbar-container">
            <a href=" {% url 'upload_image' %} " id="navbar-title">BeeGPT</a>
             <div class="navbar-toggle" id="mobile-menu">
                 <span class="bar"></span>
                 <span class="bar"></span>
                 <span class="bar"></span>
             </div>
            <ul class="navbar-menu">
                <li class="navbar-item">
                    <a href=" {% url 'upload_image' %} " class="navbar-links" id="home-page">Home</a>
                </li>
                <li class="navbar-item">
                    <a href="{% url 'tutorial' %}" class="navbar-links" id="tutorial-page">Tutorial</a>
                </li>
                <li class="navbar-item">
                    <a href="{% url 'biodiversity' %}" class="navbar-links" id="biodiversity-page">Biodiversity</a>
                </li>
            </ul>
        </div>
      </nav>
    </header>

    {% block content %}{% endblock %}

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-container">
            <p class="footer-description"> Leveraging ChatGPT (3.5) to provide biodiversity information </p>
            <div class="icons">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
            </div>
      </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
